/* 常見問題按鈕的 hover */
.accordion-button:hover h5 {
  color: #94BF5C;
}

.stats-container {
  background-color: #CFE7B1;
  border-radius: 1.25rem;
  padding: 1.25rem 0 1.25rem 0;
}

.sick-icon {
  padding: 1.25rem;
  background-color: #FFF5CF;
}

/* 顧客回饋 start */
.pentagon-container {
  position: relative;
  width: auto;
  background-color: #FFF5CF;
  clip-path: polygon(0% 0%, 85% 0%, 100% 20%, 100% 100%, 0% 100%);
  display: inline-block;
  padding: 0 20px;
  /* text-align: center; */
  max-width: 100%;
}

.pet-image {
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  margin: 20px;
}

.no-outline:focus, .no-outline:active {
  outline: none;
  box-shadow: none; 
}

/* 顧客回饋 end */

/* 試算彈跳窗 */
.modal-header {
  border-bottom: none; /* 取消底部邊框 */
}


/* 優點介紹文字圖案間距 */
/* 預設樣式 */
.img-container {
  margin-top: -7.5rem;
}

/* 當畫面寬度小於 1735px 時應用此樣式 */
@media (max-width: 1735px) {
  .img-container {
      margin-top: 0;
  }
}